{% extends 'core/base.html' %} {% block content %}
<h1>Cadastrar Novo Livro</h1>

<form method="POST">
  {% csrf_token %} {% for field in form %}
  <div style="margin-bottom: 10px">
    <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
    {{ field }} {% if field.errors %}
    <div style="color: red">{{ field.errors }}</div>
    {% endif %}
  </div>
  {% endfor %}

  <button type="submit">Cadastrar Livro</button>
</form>

<a href="{% url 'core:lista_livros' %}">Voltar para Lista</a>
{% endblock %}
