<h1>Lista de Livros</h1>

<a
  href="{% url 'core:cadastrar_livro' %}"
  style="margin-bottom: 20px; display: inline-block"
  class="btn btn-primary"
>
  Cadastrar Novo Livro
</a>

{% if livros %}
<table class="table">
  <thead>
    <tr>
      <th>Título</th>
      <th>Autor</th>
      <th>ISBN</th>
      <th>Data de Publicação</th>
      <th>Quantidade Total</th>
      <th>Quantidade Disponível</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for livro in livros %}
    <tr>
      <td>{{ livro.titulo }}</td>
      <td>{{ livro.autor.nome }}</td>
      <td>{{ livro.isbn }}</td>
      <td>{{ livro.data_publicacao|date:"d/m/Y" }}</td>
      <td>{{ livro.quantidade_total }}</td>
      <td>{{ livro.quantidade_disponivel }}</td>
      <td>
        {% if livro.quantidade_disponivel > 0 %}
        <a
          href="{% url 'core:emprestar_livro' livro.id %}"
          class="btn btn-success"
        >
          Emprestar
        </a>
        {% endif %}
        <a
          href="{% url 'core:remover_livro' livro.id %}"
          class="btn btn-danger"
          onclick="return confirm('Tem certeza que deseja remover este livro?')"
        >
          Remover
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>Nenhum livro cadastrado.</p>
{% endif %}
